* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.base-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.back-home-button {
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  background-color: #1E90FF;
  color: #fff;
  border-radius: 8px;

}

.back-home-button:hover {
  background-color: #39FF14;
  color: #000;
}
.others-buttons {
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  background-color: #1E90FF;
  color: #fff;
  border-radius: 8px;

}

.others-buttons:hover {
  background-color: #39FF14;
  color: #000;
}
.card-back .add-to-cart {
  background: #1E90FF;
  color: #fff;
  padding: 0.6rem 1rem;
}

.go-to-cart-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#main-menu img.cart-icon {
  height: 50px;
  width: auto;
}


