.products-section {
  padding: 2rem;
  background-color: #111;
}

.products-section h2 {
  font-family: "Orbitron", sans-serif;
  color: #00ff99;
  margin-bottom: 1.5rem;
  text-align: center;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.product-card {
  background-color: #222;
  padding: 1.5rem;
  border-radius: 12px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card img {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

.product-card h3 {
  color: #39FF14;
  margin-bottom: 0.5rem;
}

.product-card p {
  color: #D3D3D3;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px #00ff9980;
}

.back-button {
  text-align: center;
  margin-top: 2rem;
}

.back-button a {
  text-decoration: none;
  color: #39FF14;
  font-weight: bold;
  padding: .5rem 1rem;
  border: 2px solid #39FF14;
  border-radius: 8px;
  transition: 0.3s;
}

.back-button a:hover {
  background-color: #39FF14;
  color: #111;
}
