* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;
  background-color: #111;
}

#main-menu {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: #111; 
  padding: 0 2rem;
  color: white;
}

#main-menu img {
    height: 60px;
    width: auto;
}

#body-form{
    display: flex;
    background-color: #00ff99;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
}

#body-form h2{
    margin-bottom: 1rem;
    color: white;
    background-color: #00ff99;
    padding: 1rem;
    border-radius: 20px;
}

form{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: .7rem;
    background-color: #333;
    border-radius: 20px;
}


form h2{
    color: white;
    text-align: center;
    font-size: 45px;
}

label {
    color: white;
    background-color: #111;
    padding: 1rem;
    border-radius: 20px;
}

input {
    width: 100%;
    height: 2rem;
    outline: none;
    background-color: #333;
    padding:  2rem;
    border-color: #111;
    border-radius: 20px;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

button {
    background-color: #111;
    color: #ffffff;
    padding: 1rem;
    width: 49%;
    cursor: pointer;
    border-radius: 20px;
}

.row{
    margin-top: 1rem;
}



.row p{
    color: white;
    text-align: center;
}


