* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;
  background-color: #000;
  color: #fff;
}

#main-menu {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: #000; 
  padding: 0 2rem;
}

#main-menu img {
  height: 60px;
  width: auto;
}

#body-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  background: linear-gradient(135deg, #000, #111);
}

#body-form h2 {
  margin-bottom: 1rem;
  color: #39FF14;
  font-family: "Orbitron", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  text-shadow: 0 0 8px #39FF14;
}

form {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: .7rem;
  background-color: #111;
  border-radius: 20px;
  box-shadow: 0 0 20px #39FF14;
  width: 100%;
  max-width: 450px;
}

label {
  color: #fff;
  font-weight: bold;
  margin-bottom: .5rem;
}

input {
  width: 100%;
  height: 2.5rem;
  outline: none;
  background-color: #222;
  padding: 0 .8rem;
  border: 2px solid #1E90FF;
  border-radius: 12px;
  color: white;
  transition: 0.3s;
}

input:focus {
  border-color: #39FF14;
  box-shadow: 0 0 10px #39FF14;
}

input::placeholder {
  color: #bbb;
  font-weight: 400;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

button {
  background-color: #1E90FF;
  color: #fff;
  padding: .8rem;
  flex: 1;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #39FF14;
  color: #000;
  box-shadow: 0 0 12px #39FF14;
}

.error {
  border: 2px solid #e63946;
  background-color: rgba(230, 57, 70, 0.15);
}
