* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;
  background-color: #111;
}

#main-menu {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: #111; 
  padding: 0 2rem;
  color: white;
}

#main-menu img {
    height: 60px;
    width: auto;
}

#body-form{
    display: flex;
    background-color: #00ff99;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
}

#body-form h2{
    margin-bottom: 1rem;
    color: white;
    background-color: #00ff99;
    padding: 1rem;
    border-radius: 20px;
}

form{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: .7rem;
    background-color: #333;
    border-radius: 20px;
}

label {
    color: white;
    background-color: #111;
    border-color: #111;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: .5rem;
}

input {
    width: 100%;
    height: 2rem;
    outline: none;
    background-color: #333;
    padding: 0px .5rem;
    border-color: #111;
    border-radius: 20px;
    color: white;
}

input::placeholder {
    color: white;
    font-weight: 400;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    background-color: #111;
    color: #ffffff;
    padding: .8rem;
    width: 49%;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
}

button:hover{
  background-color: #07CCA1;
}

.error{
  outline: 1px red solid;
  background-color: #ff000044;
}

